.Rproj.user
.Rhistory
.RData
.Ruserdata
dev/
experiments/merck/work/
experiments/merck/results/
experiments/samplers/results/
experiments/samplers/work/
/doc/
/Meta/
/vignettes/*_files/
/vignettes/*.html
/vignettes/.quarto/
